<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
</head>
<body>
    <h1>Todo List</h1>
    <form method="post" action="/task">
        <input type="text" placeholder="Mettre dans la liste" name="task" autofocus required>
        <button type="submit">Envoyer</button>
    </form>

    <h2>Liste des taches :</h2>
    <ul>
        <%task.forEach((list, id)=>{%>
            <%if(list.done==true){%>
                <li><s><%=list.title%> | <a href="/task/<%= id %>/delete">Supprimé</a></s></li>
            <%}else{%>
                <li><%=list.title%> | <a href="/task/<%= id %>/done">Terminé</a></li>
            <%}%>
            
        <%});%>
        
    </ul>
</body>
</html>